
/*----------  Colors  ----------*/

// $black: #1D1D1D;
$black: #4F4F4F;
$gray: #BDBDBD;
$white: #FBFBFB;

/* -------- Font - Size ----------- */

$title: 34px;
$subtitle: 24px;
$subtitlepragraph: 18px;