@import "./variables";

.new-arrivals-header {
    text-align: center;
    color: $black;

    .new-arrivals-header-title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .new-arrivals-header-underline-bar {
        display: inline-block;
        width: 4rem;
        height: 5px;
        background-color: $black;
        margin: 0 auto;
        border-radius: 10px;
    }
}